<%- include("partials/header", { title: "Settings" }) %>

<section class="comingsoon-section">
  <div class="comingsoon-container">

    <img src="/coming_soon.png" class="coming-img" alt="coming soon" />

    <h1 class="coming-title">Settings Page is Coming Soon</h1>

    <p class="coming-text">
      We're working hard to build powerful settings — including themes, security,
      account controls, and more.  
      <br/>Stay tuned for updates!
    </p>

    <a href="/" class="coming-btn">Home</a>

  </div>
</section>

<%- include("partials/footer") %>
